@model List<CarreandoDIS.Models.Usuario>

@{
    Layout = "~/Areas/Administrador/Views/Shared/_LayoutAdmin.cshtml";
    Console.WriteLine(Model.Count());
    var usuarios = Model.ToList(); 
}

@section Scripts{
     <script src="~/js/GestionClientes.js"></script>
}

@section Styles{
    <link rel="stylesheet" href="~/css/listaClientes.css" asp-append-version="true" />
}

<section class="sectionHandler">
    <section class="clientSectionContainer">
        <h1>LISTA DE CLIENTES</h1>
        <div class="opcionHandler">
            <form method="get" asp-action="BuscarClientes" class="searchForm">
                <input type="text" name="cadenaBusqueda" placeholder="Nombre" />
                <button type="submit"><img src="~/img/SearchIcon.svg"/></button>
            </form>
            <div class="buttonHandler">
                <a id="btnAsignarDescuento">Asignar descuento</a>
                <a id="btnAsignarPromocion">Asignar promocion</a>
            </div>
        </div>
        <form>
            @foreach(var usuario in usuarios){

                <div class="userContainer">
                    <div class="userContainer_user">
                        <label hidden>@usuario.idUsuario</label>
                        <input type="checkbox">
                        <label>@usuario.nombre @usuario.apellidoPaterno @usuario.apellidoMaterno</label>
                        <label>@usuario.dni</label>
                        @if(usuario.sexo == "Masculino"){
                            <img src="~/img/SexIconH.svg"/>
                        }else{
                            <img src="~/img/SexIconM.svg"/>
                        }
                        @if (usuario.fkPromocion != null)
                        {
                            <div class="userShareOption">
                                <label>P</label>
                            </div>
                        }
                    </div>
                </div>

            }
        </form>
    </section>
</section>